@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, html {
  height: 100%;
}

input[type=text] {
  width: 441px;
  height: 42px;
  left: 46px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

input[type=text]:focus {
  outline: none;  
}

h1 {
  font-size: 36px;
  color: #FFFFFF;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  margin-left: 60px;
  margin-top: 20px;
}

.fullScreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topo {
  width: 100%;
  height: 80px;
  background-color: #5D5FEF;
  margin-bottom: 30px;
}

.areaCentral {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;  
}

.boxNovaTarefa {
  width: 90%;
  height: 100px;
  margin-bottom: 20px;
  background-color: white;  
  display: flex;
  align-items: center;
}

.barraNovaTarefa {
  width: 100%;
  height: 48px;
  padding-left: 16px;
  background-color: white;
  border: 1px solid #5F6368;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.listaDeTarefas {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.novaTarefa {
  width: 100%;
  height: 72px;
  border: 1px solid #5F6368;
  border-radius: 8px;
  margin-bottom: 5px;
  display: flex;
  font-size: 18px;
  color: #5F6368;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
}

.botoes {
  width: 96px;
  height: 100%;
  display: flex;
  align-self: flex-end;
  cursor: pointer;
}

.botaoConfirma {
  width: 48px;
  height: 100%;
  background-color: #3EAF3F;
  display: flex;
}

.botaoConfirma:hover {
  background-color: green;
}  

.botaoCancela {
  width: 48px;
  height: 100%;
  background-color: #E14942;
  display: flex; 
  border-radius: 0px 8px 8px 0px;
}

.botaoCancela:hover {
  background-color: rgb(170, 10, 10);
}

.icones {
  font-family: "Material Icons";
  font-size: 26px;
  color: white;
  padding: 10px;
}

.checkboxLabel {
  align-self: center;
}

input[type=checkbox] {
  width: 24px;
  height: 24px;
  margin: 0 0 0 20px;
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox]:checked {
  background-color: black;
}

input:checked + label {
  text-decoration: line-through;
}
  
label {
  margin-left: 20px;
  cursor: pointer;
}

.lixeira {
  font-family: "Material Icons";
  font-size: 26px;
  color: black;
  padding: 20px;
  cursor: pointer;
}